**/__pycache__/
**/results/*
**/shared/*
**/*.slurm
**/database/*
**/original_data/*
**/input/*
**/output/*
**/log/*
**/*.ipynb
**/main.py
**/12_samples_output
**/3_samples_output
**/3_samples_omvs_output_old
**/3_samples_omvs_output
**/6_samples_output
**/5th_9samples_output
**/6th_2samples_output
**/test_SRR18078867_output
**/cleaning/test
**/integration_old.sh
**/species_detection_old.sh
**/add_gene_information_old.py
**/add_gene_information_latest.py
**/after_cleaning/analysis/*
**/test.txt