**/__pycache__/
**/results/*
**/shared/*
**/*.slurm
**/database/*
**/original_data/*
**/input/*
**/output/*
**/log/*
**/*.ipynb
**/main*.py
**/1st_12samples_output
**/3rd_3samples_output
**/3_samples_omvs_output_old
**/4th_3samples_output
**/6_samples_output
**/6th_2samples_output_old
**/5th_9samples_output
**/6th_2samples_output
**/7th_6samples_output
**/8th_2samples_output
**/9th_12samples_output
**/10th_2samples_output
**/11th_11samples_output
**/test_SRR18078867_output
**/cleaning/test
**/integration_old.sh
**/species_detection_old.sh
**/add_gene_information_old.py
**/add_gene_information_latest.py
**/after_cleaning/analysis/*
**/test.txt