**/__pycache__/
**/results/*
**/shared/*
**/*.slurm
**/database/*
**/original_data/*
**/input/*
**/output/*
**/log/*
**/*.ipynb
**/main.py
**/12_samples_output
**/3_samples_output
**/test_SRR18078867_output
**/cleaning/test
**/integration_old.sh